/*
*** With thanks to:
*** SIMPLE GRID
*** (C) ZACH COLE 2016
*** and
*** @link https://utopia.fyi/type/calculator?c=600,11,1.25,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
*/

:root {
  --fluid-min-width: 600;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
  min-height: 30px;
	display: -webkit-flex; /* Safari */
	display: flex; /* Standard syntax */
}

.row [class^="col"] {
  float: left;
  /*margin: 0.5rem 2%;*/
  margin: var(--step--1);
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 80%;
    max-width: 65rem;
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 5.76;
  --f--2-max: 12.80;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 7.20;
  --f--1-max: 16.00;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 9.00;
  --f-0-max: 20.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 11.25;
  --f-1-max: 25.00;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 14.06;
  --f-2-max: 31.25;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 17.58;
  --f-3-max: 39.06;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 21.97;
  --f-4-max: 48.83;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 27.47;
  --f-5-max: 61.04;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}
/* ==== My styles ==== */

body{
  background: #CCCC99;

  }


#head{
  color: #333333;
  height: 3.5em;
  width: 100%;
  border-bottom: 1px solid #333333;
  font-size: var(--step-1);
  font-family: "Trebuchet MS", sans-serif;
  line-height: var(--step-1);
  letter-spacing: -0.01em;
}

.top{
  border-bottom: 1px solid #333333;
  min-height: 30em;
}


#Title {
  color:  #333333;
  font-size: var(--step-5);
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  line-height: var(--step-5);
  letter-spacing: -0.01em;
  padding-top: 2em;
}

H1{
  font-size: var(--step-3);
  font-family: "Trebuchet MS", sans-serif;
  color:  #333333;
}

H2{
  font-size: var(--step-1);
  font-family: "Trebuchet MS", sans-serif;
  color:  #333333;
}

p{
  font-size: var(--step--1);
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1.5em;
  color:  #333333;
  letter-spacing:normal;
}

.top p {
  font-size: var(--step-0);
}

#Nav {
  color: #333333;
  font-size: var(--step--1);
  font-family: "Trebuchet MS", sans-serif;
  font-weight: normal;
  line-height: var(--step-3);
  display: inline-block;
}

#Nav a{
  text-decoration: none;
  color: #333333;
  margin-left: 2em;
}

#Nav a:hover {
  color: #CC9966;
}

.Exp div{
  color: #352827;
  font-size: var(--step-2);
  font-family: "Trebuchet MS", sans-serif;
  line-height: var(--step-2);
  height: 4em;
  padding-top: 0.5em;

}

@keyframes sprite {
  100% { background-position: -920px 0px;}
}

#flame{
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -80px;
  height: 147px;
  width: 61px;
  background: transparent url("img/FlameAnimation-02.svg") 0 0 no-repeat;
  background-size: auto 100%;
  animation-name: sprite;
  animation-duration: 1.8s;
  animation-timing-function: steps(15);
  animation-iteration-count: infinite
}

@media only screen and (min-width: 1024px) {
  #flame {
    transform: scale(1);
  }
}

#shine{
  position: absolute;
  background: transparent url("img/bgGlow-03.svg") 0 0 no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: -10px 100%;
}

.Exp p{
  margin: 0;
  color: #D4975C;
  font-size: var(--step--1);
  font-family: "Trebuchet MS", sans-serif;
  line-height: var(--step-0);
}
