
{% extends "base.twig" %}


{% block main %}

          <div class="row top">
            <div class="col-6 flamePos">
              <div id="flame"></div>
            </div>
            <div class="col-6">
              <div class="notFound">
                {{ content }}
              </div>
            </div>
          </div>

{% endblock %}
