
{% extends "base.twig" %}


{% block main %}

          <div class="row">
            <div class="col-6 ">
              <h1>Don't be a stranger</h1>


                  {{ content }}
            </div>
          </div>

{% endblock %}
