
{% extends "base.twig" %}


{% block main %}

              <div class="row">
                <div class="col-9">
                  <a class="back" href="{{ pages["exp"].url }}">Back</a>
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-9">
                      <p class="vertical">{{ meta.date_formatted|date("d-m-Y") }}</p>
                      <h1 class="expTitle">{{ meta.title }}</h1>
                  </div>
              </div>

              <div class="row">
              <div class="col-9" id="expContent">
                {{ content }}
              </div>

            </div>


{% endblock %}
