{% extends "base.twig" %}


{% block main %}


          <div class="row top">
              <div id="shine"></div>
            <div class="col-6">
              <div class="vertical">•/ Prototype /•</div>
              <div id="HeroTitle">

                <h1>The Liturgy Labor<span class="tight">a</span>tory</h1>
              </div>

            </div>

            <div class="col-6 flamePos">
              <div id="flame"></div>
            </div>
          </div>

          <hr>



{% endblock %}
