
{% extends "base.twig" %}


{% block main %}

          <div class="row">
            <div class="col-6 ">
              <h1>We like to treat people as people, not as numbers</h1>


                  {{ content }}
            </div>
          </div>

{% endblock %}
